.container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header {
  margin-top: 40px;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 0;
}
